body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 20px;
 background-image: url('img/sfondo1.jpg');
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}


main {
 margin-top: 20px;
}

h1 {
 color: #333;
}

h2 {
 color: #555;
}

p {
 color: #555;
 line-height: 1.6;
}

footer {
 background-color: #333;
 color: white;
 text-align: center;
 padding: 10px 0;
 margin-top: 20px;
}
