body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 20px;
 display: grid;
 grid-template-rows: 1fr auto;
 flex-direction: column;
 background-image: url('img/sfondo1.jpg');
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}

html{
 height: 100%;
 margin: 0;
}

main{
 flex-direction: column;
}

footer {
 background-color: #333;
 color: white;
 text-align: center;
 padding: 10px 0;
}
