body {
 font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
 margin: 0;
 padding: 0;
 display: grid;
 grid-template-rows: auto 1fr auto;
 background-image: url('img/sfondo1.jpg');
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 font-size: clamp(1rem, 2vw, 1.2rem); /* Adattabilità del font */
}

html {
 height: 100%;
 margin: 0;
}

main {
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 20px;
 width: 100%;
 box-sizing: border-box;
}

h2 {
 width: 100%;
 text-align: center;
 color: rgb(0, 0, 0);
 margin: 20px 0;
 font-size: clamp(1.5rem, 4vw, 2rem); /* Testo flessibile */
}

.round-box {
 background-color: #ac028188;
 border-radius: 20px;
 padding: clamp(20px, 5vw, 30px); /* Adattamento del padding */
 display: flex;
 align-items: center;
 margin: 30px auto;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 gap: 20px;
 width: 90%;
 max-width: 1200px; /* Limita la larghezza massima */
 justify-content: center;
 box-sizing: border-box;
}

.inner-round-box {
 background-color: #b2025788;
 border-radius: 15px;
 flex: 1;
 padding: clamp(10px, 2vw, 15px); /* Padding reattivo */
 margin: 0 10px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.round-box:hover {
 background-color: #ad1587ca;
 transform: scale(1.02);
 box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.banner {
 background-color: rgba(27, 125, 2, 0.64);
 color: black;
 padding: 15px;
 text-align: center;
 width: 100%;
}

.position-center {
 display: flex;
 justify-content: center;
 align-items: center;
}

.about-container {
 display: flex;
 align-items: flex-start;
 margin-bottom: 20px;
}

.profile-pic {
 width: clamp(150px, 10vw, 200px); /* Dimensioni flessibili per le immagini */
 height: clamp(150px, 10vw, 200px);
 border-radius: 100%;
 margin-right: 20px;
}

.about-text {
 flex: 1;
}

.contact-icons {
 display: flex;
 gap: 20px;
 justify-content: center;
}

.contact-icons a {
 text-decoration: none;
 color: white;
}

.contact-icons a:hover {
 color: #00bfff;
}

.contact-icons i {
 font-size: 24px;
}

footer {
 background-color: #33333367;
 color: white;
 text-align: center;
 padding: 10px 0;
 width: 100%;
}

/* Media query per schermi più piccoli */
@media (max-width: 768px) {
 body {
   font-size: 1.5rem; /* Ingrandisce il testo su schermi piccoli */
 }

 h2 {
   font-size: 4vw; /* Ridimensiona il titolo per schermi piccoli */
 }

 .round-box {
   flex-direction: column; /* Le box diventano verticali su schermi più piccoli */
   padding: 1.5rem;
 }

 .profile-pic {
   width: 150px;
   height: 150px;
 }
}
