body {
 font-family: Arial, sans-serif;
 margin: 0; /* Rimuove i margini dal body */
 padding: 0; /* Rimuove il padding dal body */
 display: grid;
 grid-template-rows: auto 1fr auto; /* Modifica l'ordine per il footer */
 background-image: url('img/sfondo1.jpg');
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}

html {
 height: 100%;
 margin: 0;
}

main {
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 20px; /* Aggiungi padding qui se necessario */
}

.round-box {
 background-color: #ac028188; /* Colore di sfondo dei quadrati tondi */
 border-radius: 20px; /* Arrotonda gli angoli */
 padding: 20px; /* Padding interno */
 display: flex;
 /*justify-content: space-between;*/
 /*margin: 20px 0;*/
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per dare profondità */
 gap: 20px;
}

.inner-round-box {
 background-color: #b2025788;
 border-radius: 15px;
 flex: 1;
 padding: 15px;
 margin: 0 10px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stile specifico per la sezione sinistra */
.left {
 background-color: #b2025788; /* Colore specifico per la sezione sinistra */
}

/* Stile specifico per la sezione destra */
.right {
 background-color: #b2025788; /* Colore specifico per la sezione destra */
}

.round-box:hover {
 background-color: #ad1587ca; /* Cambia il colore di sfondo al passaggio del mouse */
 transform: scale(1.02); /* Ingrossa leggermente la box */
 box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta l'ombreggiatura al passaggio del mouse */
}

.banner {
 background-color: rgba(27, 125, 2, 0.64); /* Colore di sfondo del banner */
 color: black; /* Colore del testo */
 padding: 15px; /* Spazio interno */
 text-align: center; /* Centra il testo */
 width: 100%; /* Assicura che il banner occupi tutta la larghezza */
}

.banner ul {
 list-style-type: none; /* Rimuove i punti dall'elenco */
 margin: 0; /* Rimuove margini */
 padding: 0; /* Rimuove padding */
}

.banner ul li {
 display: inline; /* Mostra gli elementi in linea */
 margin: 0 15px; /* Spazio tra i link */
}

.banner a {
 color: rgba(255, 255, 255, 0.89); /* Colore dei link */
 text-decoration: none; /* Rimuove la sottolineatura */
 font-weight: bold; /* Testo in grassetto */
}

.banner a:hover {
 text-decoration: underline; /* Sottolinea al passaggio del mouse */
}

.position-center {
 display: flex;
 justify-content: center;
 align-items: center;
}

footer {
 background-color: #33333367;
 color: white;
 text-align: center;
 padding: 10px 0;
 width: 100%; /* Assicura che il footer occupi tutta la larghezza */
}
